@font-face {
  font-family: 'Ace Sans';
  src: url('../fonts/acesans-demo-webfont.woff2') format('woff2'),
       url('../fonts/acesans-demo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

p {
    font-weight: 300;
}

// dropdown menu colour
#navbarNavDropdown ul .dropdown-menu li a {
	color: #000;
}


// open submenu when mouse hovering the parent menu item.
ul.navbar-nav li.dropdown:hover ul.dropdown-menu {
    display: block; 
}

// hide caret for two+ level menus
.navbar-nav .dropdown-toggle .caret { display:none; }


.wrapper#full-width-page-wrapper, .wrapper#single-wrapper {
  min-height: 80vh;
  padding-top: 5%;
}

// card styling
.card {
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0px 20px 0 rgba(0,0,0,0.2);
    background-color: $gbaa-green-faded;
    transition: 0.3s;
 }

 // Formatting for top level Post Listings on category pages
 .gb-post-list h2 {
	font-size: 1.2em;
}

.gb-post-list a {
	text-decoration: none;
}

.gb-post-list img {
	border: solid #000 1px;
}

.navbar-brand {
	width: 2.5rem;
}
