
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.



$primary: rgb(105,170,156,100);  // GBAA brand colour.
$secondary: #69AA9C; // GBAA's green colour
$white:    #fff !default;

$font-family-base: 'Open Sans', sans-serif;
$headings-font-family: 'Ace Sans', sans-serif;

$gbaa-green-faded: #E1EEEB; // GBAA's faded green colour for card backgrounds

$border-color: $gbaa-green-faded;

