div.wpforms-container-full .wpforms-form textarea {
    max-width: 60%;
}

.subscribe-box {
    border: solid 1px $primary;
    padding: 0.25rem;
    font-weight: 400;
    font-size: 0.8rem;
    color: $primary;
    text-transform: uppercase;
    border-radius: 0;
}

