// Home page
.top-logo {
	width: 15%;
	max-width: 180px;
	min-width: 100px;
}

.hero {
  display: flex;
  justify-content: center;
}

.main-image {
	width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
	z-index: 10;
}

.highlight-box {
  position:relative;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    margin-top:-120px;
    padding: 8rem 8% 4rem;
    z-index:-999;
}

.highlight-box-text {
	width: 80%;
  max-width: 1280px;
	margin: 0 auto;
  font-size: 1.125rem;
  text-wrap: pretty;
}

.highlight-box:before {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% + 3rem);
  margin-top: clamp(-3rem, -6rem, -10rem);
  background-color: rgba(105, 170, 156, 0.25); /* Use rgba for proper opacity */
  z-index: -1;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust to make it perfectly centered */
  top: 0;
}



.post-2490 .wp-block-column {
  // padding-top: 4rem;
  //gap: 2rem;

  li {
    padding-bottom: 1.5rem;
  }
}

.home-content {
  width: 67%;
  max-width: 867px;
  margin: 0 auto;
  padding-top: 4rem;
}

:where(.wp-block-columns.is-layout-flex) {
  row-gap: 2vw;
  column-gap: 5vw;
}

